<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%X{akkaAddress}] [%marker] [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="akka.actor.TimerScheduler" level="INFO"/>
    <logger name="akka.io" level="INFO"/>
    <logger name="akka.http" level="INFO"/>
    <logger name="akka.serialization" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
